*.a
*.o
*.sio
*.mod
xaces3
xaces2
xa2proc
xjoda
/bin/sial
/test_compare/xtest_compare
/bin/xtest_compare
src/sial_compiler/compiler/sial
bin/
make.error
make.output
Makefile
*.swp
*.swo
autom4te.cache/
CVS/

tests/fast/JOBARC
tests/fast/__pycache__/
